.container-terreno{
    max-width: 800px;
    height: 100vh;
    display: grid;
    color: white;
    gap: 10px;
    grid-template-areas: 
    "cozinha cozinha cozinha cozinha  cozinha cozinha cozinha cozinha  cozinha cozinha cozinha cozinha"
    "quarto quarto quarto quarto  quarto quarto quarto quarto  quarto quarto banheiro banheiro"
    "quarto quarto quarto quarto  quarto quarto quarto quarto  quarto quarto banheiro banheiro";
}

.comodo1, .comodo2, .comodo3{
    background-color: orange;
    display: grid;
    justify-items: center;
    align-items: center;
}
.red{
    background-color: red;
}
.comodo1{
    grid-area: cozinha;
}

.comodo2{
    grid-area: quarto;
}

.comodo3{
    grid-area: banheiro;
}